.list-item {
  width: 1000px;
  border-color: transparent;
  transition: box-shadow 0.3s, border-color 0.3s;
}

.list-item:hover {
  box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%),
    0 5px 12px 4px rgb(0 0 0 / 9%);
  cursor: pointer;
}

.my-listings-content {
  padding-bottom: 25px;
}
