.catergries {
  font-size: 25px;
  width: 100%;
  
}

.product-name {
  font-size: 60px;
  font-weight: bolder;
  width:100%;
  
}
.date-location {
  font-size: 25px;
}

.star {
  border: 0px;
  background-color: transparent;
}
.price {
  font-size: 50px;
  color: #ff8300;
  margin-top: 20px;
  margin-bottom: 20px;
}

button[ant-click-animating-without-extra-node]:after {
  border: 0 none;
  opacity: 0;
  animation: none 0 ease 0 1 normal;
}
