.seller-section {
  margin-top: 30px;
  font-size: 40px;
  
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.seller-info {
  font-size: 30px;
  width: 100%;
}
.header {
  font-weight: bold;
  font-size: 30px;
  width: 100%;
}

.contact-btn {
  color: #00a9cd;
  border-color: #00a9cd;
}
button[ant-click-animating-without-extra-node]:after {
  border: 0 none;
  opacity: 0;
  animation: none 0 ease 0 1 normal;
}
