.listing-info {
  padding: 5px 0px;
  margin-bottom: 5px;
}

.saved-listings-content {
  padding: 15px 100px;
}

.saved-listing-info-text {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  line-height: 1.5715;
  margin-bottom: 5px;
}

.saved-listing-info-sub-text {
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  line-height: 1.5715;
  margin-bottom: 5px;
}

