.form-container {
    height: 100%;
    font-family: 'Martel Sans', sans-serif;
    font-size: 16px !important;
}

.form {
    width: 60%;
}

.form a {
    color: #00A9CD;
}

.form-header {
    font-family: 'Bungee', cursive;
    font-size: 50px;
    margin: 0 0 30px 0;
}

#login-button, #signup-button {
    background-color: #00A9CD;
    font-weight: bold;
    color: white;
    font-size: 24px;
    height: auto;
    border-radius: 10px;
    font-family: 'Cabin', sans-serif;
}