@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Martel+Sans:wght@400;700&family=Cabin:wght@700&display=swap');
@import './components/ListingInfo/CreateListingInfo.css';
@import './components/ListingInfo/CreateListingInfo/CreateListing.css';
@import './components/ListingInfo/CreateListingImage/ListingImage.css';
@import './components/ListingInfo/Headline/Headline.css';
@import './components/ListingInfo/EditListingInfo.css';
@import './components/ListingInfo/EditListingInfo/EditListing.css';
@import 'components/ItemList/ItemList.style.css';
@import 'components/Header/SubNavBar.css';
@import 'components/Header/TopNavBar.css';
@import 'components/Home/HomeFlaunt.css';
@import 'components/Home/CarouselSlides.css';
@import 'components/Authentication/SplitLayout/SplitLayout.css';
@import 'components/Authentication/Login/Login.css';
@import 'components/Authentication/SignUp/SignUp.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-carousel .slick-dots {
  z-index: 0;
}

.ant-menu-horizontal {
  border-bottom: 0;
}
