@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Martel+Sans:wght@400;700&family=Cabin:wght@700&display=swap');

@import './components/ItemList/ItemList.style.css';
@import './components/Header/SubNavBar.css';
@import './components/Header/TopNavBar.css';
@import './components/Home/HomeFlaunt.css';
@import './components/Home/CarouselSlides.css';

@import './components/Authentication/SplitLayout/SplitLayout.css';
@import './components/Authentication/Login/Login.css';
@import './components/Authentication/SignUp/SignUp.css';
